 /*
    // # selector de id
    // . selector de clase
    // nombre de la etiqueta a modificar 
    */

@import "nav";
@import "contacto";

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.titulo {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card img {
    width: 300px;
    height: 300px;
}
.card-title {
    text-align: center;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.card-body {
    text-align: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.precio {
    text-align: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

p{
    text-align:justify;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
}